@font-face {
  font-family: 'Heading Pro';
  src: local("../fonts/Heading Pro Regular"), local("Heading-Pro-Regular"), url("../fonts/HeadingPro-Regular.woff2") format("woff2"), url("../fonts/HeadingPro-Regular.woff") format("woff"), url("../fonts/HeadingPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: local("../fonts/Effra Regular"), local("Effra-Regular"), url("../fonts/Effra.woff2") format("woff2"), url("../fonts/Effra.woff") format("woff"), url("../fonts/Effra.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Point';
  src: local("../fonts/Point  Regular"), local("Point--Regular"), url("../fonts/Point-Regular.woff2") format("woff2"), url("../fonts/Point-Regular.woff") format("woff"), url("../fonts/Point-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: #F9F9F9;
}

h2 {
  margin: 0;
}

ul {
  padding: 0;
}

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.button {
  width: 252px;
  background: linear-gradient(118.12deg, #FFA217 53.73%, rgba(255, 230, 191, 0.97) 119.11%, rgba(255, 215, 113, 0.97) 119.11%);
  border: none;
  padding: 19px 70px;
  color: #FEFFC8;
  border-radius: 53px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #FEFFC8;
  box-shadow: 0px 23px 27px rgba(255, 3, 3, 0.45), 0px 10px 12px rgba(255, 4, 4, 0.47);
  outline: none;
}

.button:active {
  box-shadow: none;
}

.input {
  border: 2px solid #DE0A1E;
  border-radius: 6px;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #585858;
  padding: 17px 29px;
  background-color: transparent;
}

.section__title {
  font-size: 45px;
  line-height: 56px;
  text-transform: uppercase;
  font-family: 'Heading Pro';
  font-weight: 800;
  font-style: normal;
  font-size: 45px;
  color: #323232;
}

.navbar {
  display: flex;
  position: relative;
  margin-top: 40px;
  justify-content: space-between;
  max-width: 1100px;
  z-index: 999;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 14px;
  color: #323232;
}

.title {
  margin-top: 100px;
}

.title-img {
  position: relative;
  top: -50px;
  height: 357px;
}

.title-img__line {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
}

.title-img__photo {
  position: absolute;
  top: 0;
  left: 132px;
  z-index: -4;
}

.title-img__title {
  position: absolute;
  top: 0;
  left: 42%;
  z-index: -2;
}

.title-img__kii {
  position: absolute;
  top: -190px;
  right: 494px;
  z-index: -1;
}

.title-img__traectoria {
  position: absolute;
  top: -165px;
  right: 73px;
}

.title-img__ball {
  position: absolute;
  top: -17px;
  right: 30px;
}

.title-img__arrow {
  position: absolute;
  top: 269px;
  left: 154px;
}

.title__button {
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

.header-gradient__lg {
  position: absolute;
  top: 41px;
  right: 0;
  z-index: -1;
}

.header-gradient__sm {
  position: absolute;
  top: 0;
  left: 0;
}

.header-ellipse {
  position: relative;
  top: -102px;
  right: 241px;
  z-index: -2;
}

.header-ellipse__lg {
  position: absolute;
  top: 0;
  right: 0;
}

.header-ellipse__sm {
  position: absolute;
  top: 185px;
  right: 215px;
}

@media (max-width: 1440px) {
  .header-ellipse {
    top: -102px;
    right: 20px;
  }
}

@media (max-width: 1100px) {
  .title-img__line {
    display: none;
  }
  .title-img__photo {
    left: 20px;
  }
  .title-img__kii {
    display: none;
  }
  .title-img__traectoria {
    display: none;
  }
  .title-img__ball {
    display: none;
  }
  .title-img__arrow {
    display: none;
  }
  .header-ellipse {
    display: none;
  }
}

@media (max-width: 900px) {
  .title-img__title {
    left: 2%;
    top: 42px;
  }
  .title-img__photo {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  .header-gradient__sm, .header-gradient__lg {
    display: none;
  }
  .title-img__title {
    width: 100%;
  }
}

.dream {
  position: relative;
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dream-text {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.dream-text-list {
  list-style: none;
}

.dream-text-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
}

.dream-text-list li::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #D20514;
  margin-right: 10px;
}

.dream-arrow {
  position: absolute;
  top: 50px;
  z-index: -1;
}

.dream-gradient {
  position: absolute;
  top: 320px;
  right: 350px;
}

@media (max-width: 900px) {
  .dream {
    margin-top: 100px;
    flex-direction: column;
  }
  .dream-img {
    width: 100%;
  }
  .dream-text {
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }
  .dream-arrow {
    display: none;
  }
  .dream-gradient {
    display: none;
  }
}

.features {
  margin-top: 450px;
  text-align: center;
}

.features-blocks {
  display: flex;
  justify-content: space-around;
  margin-top: 104px;
  flex-wrap: wrap;
}

.features-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-block__circle {
  content: '';
  width: 142px;
  height: 142px;
  background-color: #C4C4C4;
  border-radius: 100%;
  margin-bottom: 43px;
}

.features-block__text {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  color: #323232;
}

.training {
  margin-top: 360px;
  position: relative;
  text-align: center;
}

.training h2 {
  margin-bottom: 26px;
}

.training__tick {
  position: absolute;
  top: -240px;
  left: 17%;
}

.training__photo {
  position: absolute;
  top: -361px;
  right: -15%;
}

.training-blocks {
  display: flex;
}

.training-block {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 10%;
}

.training-block__title {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
}

.training-block__text {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 40px;
  width: 307px;
  flex-basis: 35%;
  align-self: center;
}

.training-block__price {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
}

.training__arrow {
  position: absolute;
  top: 4%;
  left: -2%;
}

.school {
  position: relative;
  display: flex;
  margin-top: 120px;
}

.school-block h2 {
  margin-bottom: 41px;
}

.school-block__img2 {
  position: absolute;
  z-index: -1;
  left: 5%;
}

.school-block__text {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  font-size: 14px;
}

.school-grad {
  position: absolute;
  top: -1050px;
  right: 0;
  z-index: -1;
}

.certificat {
  position: relative;
  margin: auto;
  margin-top: 345px;
}

.certificat__gradient {
  position: absolute;
  top: -273px;
  left: 80px;
}

.certificat__face {
  position: absolute;
  height: 187px;
  top: 125px;
  right: 140px;
  z-index: 2;
  box-shadow: 9px 12px 20px rgba(50, 50, 50, 0.6);
}

.certificat__back {
  position: absolute;
  height: 187px;
  top: 26px;
  right: 0;
  box-shadow: 9px 12px 20px rgba(50, 50, 50, 0.6);
}

.certificat-block {
  max-width: 415px;
  box-sizing: border-box;
}

.certificat-block__input {
  outline: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 16px 0;
  background-color: transparent;
}

.certificat-block-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.certificat-block__description {
  margin-top: 8px;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
}

.certificat-block__price {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  font-weight: bold;
}

.certificat-arrow__school {
  position: absolute;
  top: -617px;
  right: 32%;
  z-index: -1;
}

.certificat-arrow__reviews {
  position: absolute;
  top: 150px;
  left: 31%;
  z-index: -1;
}

.reviews {
  position: relative;
  margin-top: 350px;
}

.reviews h2 {
  text-align: center;
  margin-bottom: 64px;
}

.reviews-blocks {
  display: flex;
}

.reviews-block {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.reviews-block__cloud {
  position: absolute;
  top: 0;
  z-index: -1;
}

.reviews-block__avatar {
  margin: 20px auto;
  border-radius: 50%;
  box-shadow: 0px 23px 27px rgba(255, 3, 3, 0.45), 0px 10px 12px rgba(255, 4, 4, 0.47);
}

.reviews-block__text {
  margin: auto;
  margin-bottom: 150px;
  width: 255px;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  font-size: 11px;
}

.reviews-grad__lg {
  position: absolute;
  top: -520px;
  right: 100px;
}

.reviews-grad__sm {
  position: absolute;
  top: 550px;
  right: 0;
}

.reviews__shot {
  position: absolute;
  top: 600px;
  left: 0;
  opacity: 0.65;
}

.reviews-arrows__right {
  top: 60%;
  right: -50px;
}

.reviews-arrows__left {
  top: 60%;
  left: -50px;
}

.arrow {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
}

.youtube {
  margin-top: 450px;
  position: relative;
}

.youtube h2 {
  text-align: center;
  margin-bottom: 90px;
}

.youtube-blocks {
  display: flex;
  justify-content: space-around;
}

.youtube__arrow {
  position: absolute;
  top: -30px;
  left: 190px;
  z-index: -1;
}

.youtube__grad {
  position: absolute;
  top: -90px;
}

.youtube__photo {
  position: absolute;
  top: 400px;
  right: -50px;
  z-index: 1;
}

.recommendation {
  margin-top: 450px;
}

.recommendation h2 {
  text-align: center;
  margin-bottom: 45px;
}

.recommendation-img {
  flex-wrap: wrap;
  margin-left: -50px;
  width: 110%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.record {
  position: relative;
  margin-top: 360px;
}

.record h2 {
  text-align: center;
  margin-bottom: 46px;
}

.record-input {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.record__input {
  flex-basis: 32%;
}

.record-contacts {
  max-width: 800px;
  margin: auto;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.record-contacts__email {
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
}

.record-bg__first {
  position: absolute;
  top: -400px;
  left: 63px;
  z-index: -1;
  mix-blend-mode: color-burn;
}

.record-bg__second {
  position: absolute;
  top: -700px;
  left: -220px;
  z-index: -3;
}

.record-bg__third {
  position: absolute;
  top: -400px;
  left: 63px;
  z-index: -2;
}

.footer {
  background-color: #363046;
  margin-top: 110px;
}

.footer-address {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 65px;
  width: 110%;
  margin-bottom: 60px;
}

.footer-address li {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  color: #b79372;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-address li::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #B79372;
  margin-right: 5px;
}

.footer-address li:nth-of-type(4) {
  align-content: flex-start;
  margin-top: 30px;
}

.footer__copy {
  text-align: center;
  margin-top: 35px;
  font-family: 'Point';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #323232;
  font-size: 14px;
  color: #7E7E7E;
}
/*# sourceMappingURL=style.css.map */